<form action="/exhibitions/browse_by_artist" method="GET">
<select name="artist_id" id="artist_select">
  <% @artists.each do |artist| %>
    <option value=<%= artist.id %>><%= artist.name %></option>
  <% end %>
</select>
<input class="btn btn--action" type="submit" value="Browse by artist"/>
</form>

<% @exhibitions.each do |exhibition| %>
  <p>Title: <%= exhibition.title() %></p>
  <p>Category: <%= exhibition.category.type %></p>
  <p>Time: <%= exhibition.time_of_exhibition %></p>
  <p>Date: <%= exhibition.date_of_exhibition %></p>
  <p>Description: <%= exhibition.description %></p>
  <hr />
<% end %>
