<p>Title: <%= @exhibition.title %></p>
<p>Artist: <%= @exhibition.artist.name %></p>
<p>Category: <%= @exhibition.category.type %></p>
<p>Time: <%= @exhibition.time_of_exhibition %></p>
<p>Date: <%= @exhibition.date_of_exhibition %></p>
<p>Description: <%= @exhibition.description %></p>
